# Ignore build directories
/build/

# Ignore local configuration files
.idea/
*.iml
local.properties

# Ignore Gradle files
.gradle/
gradle-wrapper.properties

# Ignore log files
*.log

# Ignore sensitive files
/google-services.json
google-services.json